<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="homepage" value="https://responsivefight.herokuapp.com/"/>
		<add key="covidpage" value="https://responsivefight.herokuapp.com/covid"/>
		<add key="leaderboardpage" value="https://responsivefight.herokuapp.com/leaderboard"/>
	</appSettings>
</configuration>