<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!--env type can be prod / local-->
		<add key="env" value="prod"/>
		<add key="produrl" value="https://supervillain.herokuapp.com/v1/" />
		<add key="localurl" value="http://localhost:3000/v1/" />
	</appSettings>
</configuration>